<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBankService" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7070/" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IBankService" contract="Service.Contracts.IBankService"
          name="BasicHttpBinding_IBankService" />
    </client>
  </system.serviceModel>
</configuration>