<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>

    <behaviors>

      <serviceBehaviors>
        <behavior name="RestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttpServiceBehavior">
          <!-- Important this is the behavior that makes a normal WCF service to REST based service-->
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>

      <service name="Service.InterbankTransfer.Implementation.InterbankTransferService" behaviorConfiguration="RestServiceBehavior">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WCFRestAuthentication/api/" />
          </baseAddresses>
        </host>

        <endpoint binding="webHttpBinding" contract="Service.Contracts.IInterbankTransferService" behaviorConfiguration="webHttpServiceBehavior" />
      </service>
    </services>
  </system.serviceModel>
</configuration>